.side_wrapper {
  display: flex;
  width: 100%; 
  flex: 1; 
  overflow: auto;
}

.side_menu_dark {
  flex-direction: column;
  display: inline-flex;
  width: 180px;
  overflow: auto;
  background: rgb(64, 64, 64);
}

.side_menu_white {
  flex-direction: column;
  display: inline-flex;
  width: 180px;
  overflow: auto;
  background: white;
}

.side_menu::-webkit-scrollbar {
  width: 0px;
}

.content_wrapper {
  flex: 1;
  height: 100%;
}

.content {
  background: #eee;
  font-size: 30px;
}

.theme_btn {
   display: flex;
   flex: 1;
   align-items: flex-end;
   justify-content: flex-end;
}

.navi_wrapper {
  display: flex;
  justify-content: space-between;
  height: 46px;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  font-weight: bold;
  background: #ee85be;
}


